.parent-calc {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
}
.form-calc {
  height: 90%;
}

.div1-calc {
  display: flex;
  grid-area: 1 / 1 / 2 / 2;
}
.div2-calc {
  display: flex;
  grid-area: 2 / 1 / 3 / 2;
}
.div3-calc {
  display: flex;
  grid-area: 3 / 1 / 4 / 2;
}

.inputRounded {
  text-align: center;
  border-radius: 20px;
  border: 1px solid grey;
  padding-left: 8px;
}

.inputRounded:focus {
  outline: none;
  box-shadow: 0px 0px 3px #0066ff;
}

.calc-text {
  margin: auto;
  font-family: "Courier New", Courier, monospace;
  font-size: x-large;
  font-weight: 600;
  color: white;
}

.calculator-input {
  margin: auto;
  width: 60%;
  height: 60%;
}

.calculator-input-fail {
  animation: change 3s step-end both;
}
.calculator-input-success {
  animation: change 3s step-end both;
}

@keyframes change {
  from {
    background-color: green;
  }
  to {
    background-color: red;
  }
}

.calculator-submit {
  margin: auto;
  width: 50%;
  height: 80%;
}

@media (max-width: 600px) {
  .form-calc {
    height: 100%;
  }
  .parent-calc {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 2fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100%;
  }

  .div1-calc {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
  }
  .div2-calc {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    padding-right: 5px;
  }
  .div3-calc {
    grid-area: 2 / 1 / 3 / 3;
    display: flex;
    padding-bottom: 5px;
  }

  .calc-text {
    font-size: x-large;
  }

  .calculator-input {
    margin: auto;
    width: 100%;
    height: 80%;
    max-height: 50px;
  }

  .calculator-submit {
    margin: auto;
    width: 80%;
    height: 85%;
  }
}
