.parent-drivingConsole {
  display: grid;
  grid-template-columns: repeat(3, minmax(20px, 1fr)) 0.5fr;
  grid-template-rows: 1fr 2fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
  width: 100%;
}

/** **/
.div1-drivingConsole {
  display: flex;
  grid-area: 2 / 1 / 3 / 2;
}
.div6-drivingConsole {
  margin: auto;
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
}

/** **/
.div2-drivingConsole {
  display: flex;
  grid-area: 2 / 2 / 3 / 3;
}
.div7-drivingConsole {
  margin: auto;
  grid-area: 1 / 2 / 2 / 3;
  width: 100%;
}

/** **/
.div3-drivingConsole {
  display: flex;
  grid-area: 2 / 3 / 3 / 4;
}
.div8-drivingConsole {
  margin: auto;
  grid-area: 1 / 3 / 2 / 4;
  width: 100%;
}

/** **/
.div4-drivingConsole {
  display: flex;
  grid-area: 2 / 4 / 3 / 5;
}
.div9-drivingConsole {
  grid-area: 1 / 4 / 2 / 5;
}

.div23-drivingConsole {
  display: flex;
  grid-area: 1 / 1 / 3 / 5;
}

/****/

.arrow {
  margin: auto;
  width: 60%;
  height: 60%;
}

.arrow-container {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.progress {
  width: 100%;
  border-radius: 30px;
  min-height: 40px;
}

.stats-info {
  margin: auto;
  padding: 5px;
  width: 50%;
  text-align: center;
}
.computer-assesment {
  font-style: italic;
}

.bar-containor {
  height: 10px;
}

.start-button-container {
  margin: auto;
}

.start-button {
  width: 100%;
  height: 100px;
}

.rescue-container {
  width: 100%;
  height: 100%;
  padding: 10%;
}
.rescue {
  margin-bottom: 65px;
  width: 100%;
  height: 100%;
}

.list-group-item {
  border: salmon;
  padding: 0%;
}

@media (max-width: 500px) {
  .progress {
    width: 120%;
    min-height: 20px;
  }
  .stats-info {
    margin: auto;
    padding: 5px;
    width: 100%;
    text-align: center;
  }
  .arrow {
    margin: auto;
    width: 80%;
    height: 98%;
  }
}
