.parent-drivingConsole {
  display: grid;
  grid-template-columns:
    minmax(20px, 1fr)
    minmax(20px, 1fr) minmax(20px, 1fr) minmax(20px, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
}

/** **/
.div1-drivingConsole {
  display: flex;
  grid-area: 2 / 2 / 3 / 3;
  padding-left: 8px;
  padding-right: 8px;
}
.div6-drivingConsole {
  margin: auto;
  grid-area: 1 / 2 / 2 / 3;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

/** **/
.div2-drivingConsole {
  display: flex;
  grid-area: 2 / 3 / 3 / 4;
  padding-left: 7px;
  padding-right: 7px;
}
.div7-drivingConsole {
  margin: auto;
  grid-area: 1 / 3 / 2 / 4;
  width: 100%;
  padding-left: 13px;
  padding-right: 13px;
}

/** **/
.div3-drivingConsole {
  display: flex;
  grid-area: 2 / 4 / 3 / 5;
  padding-left: 8px;
  padding-right: 8px;
}
.div8-drivingConsole {
  margin: auto;
  grid-area: 1 / 4 / 2 / 5;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

/** rescue button**/
.div4-drivingConsole {
  display: flex;
  grid-area: 2 / 1 / 3 / 2;
  padding-left: 15px;
  padding-right: 15px;
}
.div9-drivingConsole {
  grid-area: 1 / 1 / 2 / 2;
}

/** start button **/
.div23-drivingConsole {
  display: flex;
  grid-area: 1 / 1 / 3 / 5;
}

/****/

.arrow {
  margin: auto;
  width: 70%;
  height: 60%;
}

.arrow-text {
  font-size: 30px;
  font-weight: 700;
}

.arrow-container {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.driveConsole-progressBar > .progress {
  width: 100%;
  min-height: 40px;
}

.stats-info {
  margin: auto;
  padding: 5px;
  width: 50%;
  text-align: center;
}
.computer-assesment {
  font-style: italic;
}

.bar-containor {
  height: 10px;
}

.start-button-container {
  margin: auto;
}

.start-button {
  width: 100%;
  height: 100px;
}

.rescue-container {
  margin: auto;

  width: 100%;
  height: 100%;
}

.rescue {
  margin: auto;

  width: 70%;
  height: 60%;
}

.rescue-text {
}

.rescue-image {
  width: 30px;
}

.rescue-text-container {
  margin: auto;
}

.list-group-item {
  border: salmon;
  padding: 0%;
}

.alert-driveConsole {
  text-align: center;
  padding: 0%;
  font-size: large;
}
.alert {
  padding: 3% !important;
}

.alert-text-driveConsole {
  border-bottom: 1px solid #ccc;
  margin-bottom: 3px;
}

.driveConsole-shake-animation {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: driveConsole-shake-keyframes 0.4s;
  /* When the animation is finished, start again */
}

@keyframes driveConsole-shake-keyframes {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@media (max-width: 600px) {
  .parent-drivingConsole {
    grid-template-columns: minmax(20px, 1fr) minmax(20px, 1fr) minmax(20px, 1fr);
    grid-template-rows: 1fr 1fr 0.6fr;
  }

  .div1-drivingConsole {
    grid-area: 2 / 1 / 3 / 2;
  }
  /** **/
  .div2-drivingConsole {
    grid-area: 2 / 2 / 3 / 3;
  }
  /** **/
  .div3-drivingConsole {
    grid-area: 2 / 3/ 3 / 4;
  }

  .div6-drivingConsole {
    grid-area: 1 / 1 / 2 / 2;
    padding-left: 5px;
    padding-right: 5px;
  }
  .div7-drivingConsole {
    grid-area: 1 / 2 / 2 / 3;
    padding-left: 5px;
    padding-right: 5px;
  }
  .div8-drivingConsole {
    grid-area: 1 / 3 / 2 / 4;
    padding-left: 5px;
    padding-right: 5px;
  }

  /** start button **/
  .div23-drivingConsole {
    grid-area: 1 / 1 / 4 / 4;
  }
  .div4-drivingConsole {
    grid-area: 3 / 1 / 4 / 4;
  }

  .rescue {
    margin: auto;
    height: 80%;
    width: 150px;
  }

  .rescue-text-container {
    margin: 0%;
  }
  .rescue-text {
    margin: 0;
  }

  .rescue-image {
    width: 20px;
  }

  .driveConsole-progressBar > .progress {
    /**width: 120%;*/
    min-height: 20px;
  }
  .stats-info {
    margin: auto;
    padding: 5px;
    width: 100%;
    text-align: center;
  }
  .arrow {
    margin: auto;
    width: 100%;
    height: 80%;
  }

  .alert-driveConsole {
    margin: auto;
    font-size: small;
  }
}
