.body-informationPage {
  overflow: visible;
  background-color: #34568b;
  height: 100vh;
}

.bg-infopage {
}

.parent-infopage {
  display: grid;
  grid-template-columns: 1.2fr repeat(4, 1fr) 1.2fr;
  grid-template-rows: 0.2fr auto auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  color: white;
  height: 90%;
}
/*  background-image: url(../assets/particle-bg.jpg);
background-size: cover;
height: 100vh; */

.div1-infopage {
  grid-area: 1 / 2 / 2 / 6;
  text-align: left;
  padding-top: 50px;
}
.div2-infopage {
  grid-area: 2 / 2 / 3 / 6;
}
.div3-infopage {
  grid-area: 3 / 2 / 4 / 6;
}

.div6-infopage {
  grid-area: 1 / 1 / 5 / 7;
}

.poll-label {
  width: auto;
}

.likert {
  width: 100%;
  margin: auto;
}
fieldset.likertScale .likertIndicator {
  border: thin solid rgb(190, 212, 190);
  background-color: lightGray;
}
/* Overwrites the likertScale React element, so it's not overflowing the parent*/
.likertBand {
  min-width: 0;
  flex-shrink: unset !important;
}

.info-box {
  height: 100vh;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: stretch;
  min-height: 100vh;
  background-image: url(../assets/particle-bg.jpg);
  background-size: 100%;
}

.instructions-image {
  display: flex;
  max-width: 90vw;
  max-height: 30vh;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.consent-button {
  display: flex;
  flex-direction: column;
}

.new-line-text {
  font-size: large;
  font-weight: 400;
}

.hide-image-for-preload {
  display: none;
}

.floating-row {
  background: rgba(255, 255, 255, 0.19);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 75px;
}
.parent-buttonRow {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
}

.div1-buttonRow {
  grid-area: 1 / 1 / 2 / 2;
  margin: auto;
  padding: 10px;
}
.div2-buttonRow {
  margin: 1%;

  grid-area: 1 / 2 / 2 / 5;
}
.div2-buttonRow > .progress {
  min-width: 80%;
}
.div3-buttonRow {
  grid-area: 1 / 5 / 2 / 6;
  margin: auto;
  padding: 10px;
}

/*  600px    */
@media (max-width: 600px) {
  .parent-infopage {
    grid-template-columns: 0.25fr repeat(4, 1fr) 0.25fr;
  }
  .instructions-image {
    max-height: 20vh;
  }

  .div1-infopage {
    grid-area: 1 / 2 / 2 / 6;
    text-align: left;
    padding-top: 3px;
  }

  .floating-row {
    height: 80px;
  }
  .parent-buttonRow {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .div1-buttonRow {
    grid-area: 2 / 1 / 3 / 3;
    margin: auto;
  }
  .div2-buttonRow {
    padding-right: 0px;
    padding-left: 0px;
    grid-area: 1 / 1 / 2 / 6;
  }
  .div3-buttonRow {
    grid-area: 2 / 4 / 3 / 6;
    margin: auto;
  }
}
