.parent-topConsole {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
}

.div1-topConsole {
  display: flex;
  grid-area: 1 / 1 / 3 / 2;
}
.div2-topConsole {
  display: flex;
  grid-area: 1 / 2 / 2 / 3;
}
.div3-topConsole {
  /*display: flex !important;*/
  grid-area: 2 / 2 / 3 / 3;
}
.div4-topConsole {
  display: flex;
  grid-area: 1 / 3 / 3 / 4;
}

/**

**/
.driving-gif {
  margin: auto;
  width: 200px;
  border-radius: 5%;
}
.center-sign {
  margin: auto;
  width: 200px;
}

.mode-toggle {
  margin: auto !important;
  height: 60px;
  width: 80%;
  background-color: grey;
}

.toggle-div {
  margin: auto;
  background-color: rgba(255, 255, 255, 0.637);
  padding: 10px;
  border-radius: 5px;
}

.text-and-score-div {
  margin: auto;
  flex: 100%;
}

.center-text {
  text-align: center;
  font-size: xx-large;
  font-weight: 300;
  color: white;
}

.score-text {
  display: flex;
  justify-content: center;
  white-space: pre-wrap;
  /*font-family: "Courier New", monospace;*/
  font-weight: 800;
  color: rgb(37, 129, 248);
}

.score-change-alert {
}

.inputRounded {
  text-align: center;
  border: 1px solid grey;
  padding-left: 8px;
}
.inputRounded:focus {
  outline: none;
  box-shadow: 0px 0px 3px #0066ff;
}

.score-topConsole {
  margin: 0 auto;
  width: 50%;
  border-radius: 10px;
  border: 3px solid #0d67ee9f;
  background-color: #f3f2f2;
}

/* Grid for the score line */
.parent-scoreGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

/* badge */
.div3-scoreGrid {
  grid-area: 1 / 2 / 2 / 3;
  opacity: 0;
}

/* score text */
.div2-scoreGrid {
  grid-area: 1 / 1 / 2 / 2;
}

.topConsole-toggle-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.25fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  height: 100%;
}

.topConsole-toggle-grid-div1 {
  display: flex;
  align-self: flex-end;
  grid-area: 1 / 1 / 2 / 2;
}

.topConsole-toggle-grid-div2 {
  display: flex;
  align-self: flex-start;
  grid-area: 2 / 1 / 3 / 2;
}

.topConsole-toggle-text {
  margin: auto;
  color: black;
  padding: 2px;
  background-color: rgb(255, 238, 0);
  border-radius: 5px;
  opacity: 0;
  z-index: 1;
}

.topConsole-shake-animation {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: topConsole-shake-keyframes 0.4s;
  /* When the animation is finished, start again */
}

@keyframes topConsole-shake-keyframes {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.topConsole-lift-animation {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: topConsole-lift-keyframes 0.4s;
  /* When the animation is finished, start again */
}

@keyframes topConsole-lift-keyframes {
  0% {
    transform: translate(0px, -1px);
  }
  50% {
    transform: translate(0px, 6px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.topConsole-toggle-text-animation {
  animation: topConsole-toggle-text-animation-opacityOnAndOff 3s normal;
}

.topConsole-badge-animation {
  animation: topConsole-toggle-text-animation-opacityOnAndOff 1.5s normal;
}

@keyframes topConsole-toggle-text-animation-opacityOnAndOff {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*  1000px    */
@media (max-width: 1000px) {
  .parent-topConsole {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
  }

  .center-text {
    margin: auto;
    font-size: large;
  }

  .mode-toggle {
    margin: auto;
    height: 40px;
    width: 90%;
  }

  .driving-gif {
    width: 80%;
  }

  .center-sign {
    width: 80%;
  }
}

/*  600px    */
@media (max-width: 600px) {
  .parent-topConsole {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px 100px 50px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 300px;
  }

  .div2-topConsole {
    padding-top: 20px;
    display: flex;
    grid-area: 1 / 1 / 2 / 3;
    margin-top: auto;
    justify-content: baseline;
  }

  .div1-topConsole {
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    grid-area: 2 / 1 / 3 / 2;
  }
  .div4-topConsole {
    display: flex !important;
    grid-area: 2 / 2 / 3 / 3;
  }
  .div3-topConsole {
    display: flex;
    grid-area: 3 / 1 / 4 / 3;
  }

  .center-text {
    margin: auto;
    font-size: large;
  }

  .mode-toggle {
    height: 30px;
    width: 70%;
  }

  .toggle-div {
    margin: auto;
    background-color: rgba(255, 255, 255, 0.637);
    padding: 2px;
    border-radius: 5px;
  }

  .driving-gif {
    width: 30%;
    margin-right: 15px;
  }
  .center-sign {
    width: 35%;
    padding: 2px;
    margin-left: 15px;
  }
}

/*  400px    */
@media (max-width: 400px) {
  .driving-gif {
    width: 50%;
  }
  .center-sign {
    width: 43%;
    padding: 2px;
  }
}
