/*
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 0px;
  padding: 10px;

  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.grid-container > div {
  padding: 5px 0;
}

.driving-gif {
  grid-area: 1 / 3 / 3 / 4;
  width: 200px;
  border-radius: 5%;
}
.center-sign {
  grid-area: 1 / 1 / 3 / 2;
  width: 180px;
}

.mode-toggle {
  grid-area: 2 / 2 / 3 / 3;
  height: 40px;
}

.center-text {
  grid-area: 1 / 2 / 2 / 3;
}

**/

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
}

.div1-topConsole {
  display: flex;
  grid-area: 1 / 1 / 3 / 2;
}
.div2-topConsole {
  display: flex;
  grid-area: 1 / 2 / 2 / 3;
}
.div3-topConsole {
  display: flex !important;
  grid-area: 2 / 2 / 3 / 3;
}
.div4-topConsole {
  display: flex;
  grid-area: 1 / 3 / 3 / 4;
}

/**

**/
.driving-gif {
  margin: auto;
  width: 200px;
  border-radius: 5%;
}
.center-sign {
  margin: auto;
  width: 200px;
}

.mode-toggle {
  margin: auto !important;
  height: 60px;
  width: 150px;
}

.center-text {
  margin: auto;
  font-size: xx-large;
  font-weight: 700;
}

@media (max-width: 1000px) {
  .center-text {
    margin: auto;
    font-size: large;
    font-weight: 700;
  }

  .mode-toggle {
    margin: auto;
    height: 40px;
    width: 120px;
  }

  .driving-gif {
    width: 100px;
  }
  .center-sign {
    width: 100px;
  }
}

@media (max-width: 500px) {
  .center-text {
    margin: auto;
    font-size: large;
    font-weight: 700;
  }

  .mode-toggle {
    margin: auto;
    height: 40px;
    width: 60px;
  }

  .driving-gif {
    width: 50px;
  }
  .center-sign {
    width: 50px;
  }
}
