body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.parent-experiment {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  height: 100vh;
}

.div1-experiment {
  grid-area: 1 / 1 / 2 / 3;
  background-color: #f1f2f5;
  background-image: url("./assets/earth.gif");
  background-size: 100%;
}
.div2-experiment {
  grid-area: 2 / 1 / 3 / 2;
  background-color: #6b656579;
}
.div3-experiment {
  grid-area: 2 / 2 / 3 / 3;
  background-color: #dac6c66b;
}

.bordered {
  border-color: #ee0c0cde;
  border-width: 5px;
}

.font-small {
  line-height: 5px;
  font-size: 15px;
}

.score-board {
  font-weight: 500;
  text-align: left;
  font-size: 100%;
}

.font-green {
  color: #0cad0c;
}

.font-red {
  color: #e91111;
}

.center-spinner {
  margin: auto;
  width: 3%;
}

.hazard {
  position: relative;
  display: flex;
  bottom: -30%;
  margin-left: 50%;
  transform: translate(-50%, 0);
  margin-right: auto;
  width: 13%;
}

.counter {
  position: absolute;
  background-color: #9c9fa3;
  width: 5%;
  height: 12%;
  border-radius: 15%;
  top: 0%;
  left: 0;
  margin: 0.5%;
}

.counter-text {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100%;
}

.results-page {
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.switch {
  left: 50%;
  margin: 0;
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  top: 40%;
  position: absolute;
  font-weight: 500;
}

.no-outline {
  outline: none;
  outline-color: blue;
}

.form-control {
  background-color: #0066ff;
  color: #0066ff;
}

.small-input {
  width: 70%;
  right: 13%;
  top: 5%;
  position: absolute;
  outline: none;
}
/*
.estimate-right {
  bottom: 57%;
  top: 35%;
  border-radius: 30px;
  font-size: medium;
  padding: 0.25%;

  background-color: #4b6cfc3d;
}

.estimate-left {
  bottom: 57%;
  top: 35%;
  border-radius: 30px;
  font-size: medium;
  padding: 0.25%;

  background-color: #4b6cfc3d;
}

.estimate-forward {
  bottom: 90%;
  top: 4%;
  border-radius: 30px;
  font-size: medium;
  background-color: #4b6cfc3d;
  padding: 0.25%;
}*/

.terms-dialog-text {
  white-space: pre-line;
}

.terms-dialog-button {
  outline: "none" !important;
}

/**MOBILE-1000**/
@media (max-width: 1000px) {
}

/**MOBILE-500**/
@media (max-width: 500px) {
  .parent-experiment {
    display: block;
    height: 100vh;
  }

  .div1-experiment {
    height: 300px;
  }
  .div2-experiment {
    height: 200px;
  }
  .div3-experiment {
    height: 300px;
  }
}
