body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.parent-experiment {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: minmax(200px, 1fr) minmax(300px, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 93vh;
  background-color: #34568b;
}

/* top console */
.div1-experiment {
  grid-area: 1 / 1 / 2 / 3;
  background-color: #f1f2f5;
  background-image: url("./assets/earth.gif");
  background-size: 100%;
}

/* calc */
.div2-experiment {
  grid-area: 2 / 1 / 3 / 2;
  background-color: #92818175;
}

/* drive console */
.div3-experiment {
  grid-area: 2 / 2 / 3 / 3;
  background-color: #ffffff91;
}

.font-small {
  line-height: 5px;
  font-size: 15px;
}

.score-board {
  font-weight: 500;
  text-align: left;
  font-size: 100%;
}

.font-green {
  color: #0cad0c;
}

.font-red {
  color: #e91111;
}

.center-spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.counter {
  position: absolute;
  background-color: #9c9fa3;
  width: 5%;
  height: 12%;
  border-radius: 15%;
  top: 0%;
  left: 0;
  margin: 0.5%;
}

.counter-text {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100%;
}

.results-page {
  padding: 7%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  min-height: 100vh;
  /*background-image: url(./assets/particle-bg.jpg);*/
  background-color: #34568b;
  background-size: 100%;
  color: white;
}

.no-outline {
  outline: none;
  outline-color: blue;
}

.form-control {
  background-color: #0066ff;
  color: #0066ff;
}

.small-input {
  width: 70%;
  right: 13%;
  top: 5%;
  position: absolute;
  outline: none;
}
/*
.estimate-right {
  bottom: 57%;
  top: 35%;
  border-radius: 30px;
  font-size: medium;
  padding: 0.25%;

  background-color: #4b6cfc3d;
}

.estimate-left {
  bottom: 57%;
  top: 35%;
  border-radius: 30px;
  font-size: medium;
  padding: 0.25%;

  background-color: #4b6cfc3d;
}

.estimate-forward {
  bottom: 90%;
  top: 4%;
  border-radius: 30px;
  font-size: medium;
  background-color: #4b6cfc3d;
  padding: 0.25%;
}*/

.terms-dialog-text {
  white-space: pre-line;
}

.terms-dialog-button {
  outline: "none" !important;
}

.results-image {
  margin: auto;
  display: flex;
  width: 30%;
}

/**MOBILE-1000**/

/**MOBILE-500**/
@media (max-width: 600px) {
  .parent-experiment {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(200px, 200px) 330px 2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  /* top console */
  .div1-experiment {
    grid-area: 1 / 1 / 2 / 2;
  }
  /* calc */
  .div2-experiment {
    grid-area: 3 / 1 / 4 / 2;
  }
  /* drive console */
  .div3-experiment {
    grid-area: 2 / 1 / 3 / 2;
  }

  /** top console **/
  .div1-experiment {
    /**display: grid;**/
    height: 200px;
  }
  .div2-experiment {
    height: auto;
  }
  .div3-experiment {
    height: 330px;
  }

  .results-image {
    width: 80%;
  }
}
