body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.div1 {
  position: absolute;
  top: 0;
  bottom: 70%;
  width: 100%;
}

.div2 {
  position: absolute;
  top: 18%;
  bottom: 15%;
  width: 100%;
}

/*
NEW!
*/
.flex-container {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  flex-wrap: wrap;
  align-content: stretch;
  background-color: white;
}

/* AREA: DRIVING CONSOLE */
.flex-container > div.bottom-right {
  position: relative;
  background-color: #dac6c66b;
  width: 60vw;
  height: 57vh;
  margin: 5px;
  justify-content: right;
  align-items: flex-start;
  text-align: center;
  line-height: 75px;
  font-size: 24px;
  border: solid;
  border-color: #3700ffa4;
  border-width: 1px;
}

.bordered {
  border-color: #ee0c0cde;
  border-width: 5px;
}

.flex-container > div.bottom-left {
  background-color: #6b656579;
  width: 20vw;
  height: 57vh;
  margin: 5px;
  justify-content: right;
  align-items: flex-start;
  text-align: center;
  line-height: 30px;
  font-size: 30px;
}

.flex-container > div.top-right {
  position: relative;

  background-color: #dddddddd;
  width: 60vw;
  height: 40vh;
  margin: 5px;
  justify-content: right;
  align-items: flex-start;
  text-align: center;
  line-height: 50px;
  font-size: 24px;
}

.flex-container > div.top-left {
  background-color: #f1f2f5;
  width: 20vw;
  height: 40vh;
  margin: 5px;
  justify-content: right;
  align-items: flex-start;
  text-align: center;
  line-height: 50px;
  font-size: 5px;
}

.top-right {
  flex-grow: 10;
}

.top-left {
  flex-grow: 1;
}

.bottom-right {
  flex-grow: 10;
  overflow: hidden;
}

.bottom-left {
  flex-grow: 1;
}

.inputRounded {
  text-align: center;
  border-radius: 20px;
  border: 1px solid grey;
  padding-left: 8px;
}

.inputRounded:focus {
  outline: none;
  box-shadow: 0px 0px 3px #0066ff;
}

.score {
  width: 150px;
  font-size: large;
  line-height: 30px;
  border-radius: 10px;
  border: 3px solid rgb(138, 162, 212);
  background-color: #f8f5f5;
}

.score-title {
  font-size: 12px;
}

.calculator {
  width: 200px;
}

.font-small {
  line-height: 5px;
  font-size: 15px;
}

.score-board {
  font-weight: 500;
  text-align: left;
}

.font-green {
  color: #0cad0c;
}

.font-red {
  color: #e91111;
}

.center-spinner {
  margin-top: 18%;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
}

.driving-gif {
  position: absolute;
  display: block;
  margin-top: 2%;
  margin-left: 77%;
  margin-right: auto;
  width: 22%;
  border-radius: 5%;
}

.hazard {
  display: block;
  margin-top: 14%;
  margin-left: auto;
  margin-right: auto;
  width: 13%;
}

.rescue {
  margin-top: -1%;
  margin-right: -91%;
  margin-left: auto;
  width: 7%;
}

.arrow-left {
  width: 11%;
  left: 13%;
  top: 50%;
  position: absolute;
  outline: none;
  box-shadow: 0 0 10px rgb(107, 107, 107);
  border-radius: 100%;
}

.arrow-forward {
  width: 11%;
  left: 50%;
  margin: 0;
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  top: 20%;
  position: absolute;
  outline: none;
  box-shadow: 0 0 10px rgb(107, 107, 107);
  border-radius: 100%;
}

.arrow-right {
  width: 11%;
  right: 13%;
  top: 50%;
  position: absolute;
  outline: none;
  box-shadow: 0 0 10px rgb(107, 107, 107);
  border-radius: 100%;
}

.arrow-forward:focus {
  transform: scale(0.95) translate(-52.5%, 0);
  box-shadow: 0 0 10px rgb(9, 106, 252);
  border-radius: 100%;
}

.arrow-right:focus {
  transform: scale(0.95);
  box-shadow: 0 0 10px rgb(9, 106, 252);
  border-radius: 100%;
}

.arrow-left:focus {
  transform: scale(0.95);
  box-shadow: 0 0 10px rgb(9, 106, 252);
  border-radius: 100%;
}

.arrow-forward:disabled {
  box-shadow: 0 0 10px rgb(255, 0, 0);
  border-radius: 100%;
}

.arrow-right:disabled {
  box-shadow: 0 0 10px rgb(255, 0, 0);
  border-radius: 100%;
}

.arrow-left:disabled {
  box-shadow: 0 0 10px rgb(255, 0, 0);
  border-radius: 100%;
}

.progress-right {
  top: 45%;
}

.progress-left {
  top: 45%;
}

.progress-forward {
  top: 13%;
}

.bar-containor {
  height: 5px;
}

.switch {
  left: 50%;
  margin: 0;
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  top: 40%;
  position: absolute;
  font-weight: 500;
}

.form-control {
  background-color: #0066ff;
  color: #0066ff;
}

.small-input {
  width: 70%;
  right: 13%;
  top: 5%;
  position: absolute;
  outline: none;
}

.estimate-right {
  bottom: 57%;
  top: 35%;
  border-radius: 30px;
  font-size: medium;
  padding: 0.25%;

  background-color: #4b6cfc3d;
}

.estimate-left {
  bottom: 57%;
  top: 35%;
  border-radius: 30px;
  font-size: medium;
  padding: 0.25%;

  background-color: #4b6cfc3d;
}

.estimate-forward {
  bottom: 90%;
  top: 4%;
  border-radius: 30px;
  font-size: medium;
  background-color: #4b6cfc3d;
  padding: 0.25%;
}

/*                      



*/
