.body-settings {
  overflow: scroll;
  background-color: rgb(240, 240, 240);
}

.div1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 30px;
  padding-right: 5px;
  padding-left: 5px;
}

.input-settings {
  margin: 5px;
  padding: 5px;
  display: table-cell;
}

label {
  display: inline-block;
  width: 125px;
  text-align: right;
}

.danger {
  color: rgb(204, 26, 26);
}

.success {
  color: rgb(15, 109, 12);
}

.info-tooltip {
  color: white;
}

.download-button {
  width: 20px;
}

.table-center {
  text-align: center;
  vertical-align: middle;
}

.new-line-text {
  font-size: large;
  font-weight: 400;
}
